.imgCentral{
  height: 150px;
  width: 150px;
  display:block;
  margin:auto;
  margin-top: 20%;

}

.tituloLogin{
  font-size: 40px;
  color: #b10d0d;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.input{
  font-size: 15px;
  font-weight: bold;
}

.inputSide{
  margin: 5%;
  font-size: 15px;
  font-weight: bold;
}

.forgotPassword{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #b10d0d;
}

.Registrar{
  text-align: center;
  margin-top: 35%;
  font-size: 15px;
  font-weight: bold;
  color: #b10d0d;
}

.back{
  color: rgb(190, 12, 12);
  font-size: 30px;
  margin-left: 5px ;
}

.alert{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #d82d2d;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
}